* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

body {
  font-family: "Roboto Mono", monospace;
  background: #5a7d8c;
  color: #365663;
}

a {
  display: inline-block;
  line-height: 1em;
  width: 100px;
  text-decoration: none;
}

input,
button {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #365663;
}

.dimensionsFormTitle {
  font-size: 26px;
  text-decoration: wavy;
  font-weight: bold;
  margin: 20px;
  padding: 5px;
  border-bottom: 1px solid rgb(77, 91, 159);
}

label {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
}

.rules {
  padding: 70px 70px 60px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  font-weight: bold;
  text-align: center;
  width: 500px;
  height: 100px;
  font-size: 18px;
  border-radius: 40%;
  border: 3px solid;
  background-color: #abc0c9;
  box-shadow: 0 10px 10px #000000;
  border-color: #eaeaea;
}

.rules:hover {
  border-color: #474056;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.solutionBoxesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0px auto;
}

.mainMenuButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculateAnotherButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimensionsFormButtons {
  display: block;
  justify-content: center;
}

.inputFormButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: auto;
}

#m1rows,
#m1cols,
#m2rows,
#m2cols {
  opacity: 80%;
  margin: 0 auto;
  height: 40px;
  width: 60px;
  border-radius: 25%;
  background-color: #bfcfe7;
  text-align: center;
  display: block;
  box-shadow: 0 5px 5px #000000;
}

#m1rows:hover,
#m1cols:hover,
#m2rows:hover,
#m2cols:hover {
  opacity: 100%;
}

#dimensionsForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 100px 100px;
  width: 600px;
  height: 750px;
  margin: auto;
  border: 4px solid;
  border-radius: 20%;
  background-color: #abc0c9;
  box-shadow: 0 10px 10px #000000;
  border-color: #eaeaea;
}

#dimensionsForm:hover {
  border-color: #474056;
}

.resetDimensionsButton {
  opacity: 80%;
  padding: 10px;
  background-color: #bfcfe7;
  height: 40px;
  width: 70px;
  border-radius: 25%;
  margin: 50px 5px 5px 5px;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
}

.resetInputsButton {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 80%;
  padding: 10px;
  background-color: #bfcfe7;
  height: 40px;
  width: 100px;
  margin: 30px 2.5px auto auto;
  border-radius: 25%;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
}

.randomizeMatricesButton {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 80%;
  padding: 0px;
  background-color: #bfcfe7;
  height: 40px;
  width: 100px;
  border-radius: 25%;
  margin: 30px auto auto 2.5px;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
}

.mainMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 80%;
  padding: 0px;
  background-color: #bfcfe7;
  height: 40px;
  width: 100px;
  border-radius: 25%;
  margin: auto;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
}

.calculateAnotherButton {
  opacity: 80%;
  padding: 0px;
  background-color: #bfcfe7;
  height: 40px;
  width: 100px;
  border-radius: 25%;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
}

.calculateButton {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 80%;
  padding: 0px;
  background-color: #bfcfe7;
  height: 40px;
  width: 100px;
  border-radius: 25%;
  margin: 5px;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
} 

.submitDimensionsButton {
  opacity: 80%;
  padding: 10px;
  background-color: #bfcfe7;
  height: 40px;
  width: 70px;
  border-radius: 25%;
  margin: 10px;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
  border-color: #365663;
}

.resetDimensionsButton:hover,
.resetInputsButton:hover,
.submitDimensionsButton:hover,
.randomizeMatricesButton:hover,
.calculateAnotherButton:hover,
.mainMenuButton:hover,
.calculateButton:hover {
  opacity: 100%;
  border-color: #474056;
}

.inputBoxTitle {
  color: #365663;
  font-size: 20px;
  font-weight: bold;
}

.error {
  height: 10px;
  color: red;
  text-align: center;
  padding: 10px;
}

.errorBorder {
  border-color: red;
}

#inputBoxesForm {
  padding: 30px;
  width: 75%;
  height: 50%;
  margin: 20px auto;
  border: 4px solid;
  border-radius: 15%;
  background-color: #abc0c9;
  box-shadow: 0 10px 10px #000000;
  border-color: #eaeaea;
}

.inputBoxesM1Inputs,
.inputBoxesM2Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  opacity: 80%;
  margin: 5px;
  height: 40px;
  width: 80px;
  border-radius: 25%;
  background-color: #bfcfe7;
  text-align: center;
  box-shadow: 0 5px 5px #000000;
}

.inputBox:hover {
  opacity: 100%;
  background-color: #9db3d5;
}

.inputBoxTitle {
  padding: 10px;
  text-align: center;
}

.matrix1Inputs,
.matrix2Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutionTitle {
  color: #eaeaea;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 150px 0px 0px 0px;
}

.solutionBox {
  display: inline-block;
  text-align: center;
  margin: 5px;
  height: 40px;
  width: 100px;
  color: rgb(84, 94, 145);
  padding: 10px;
  border: 4px solid;
  border-radius: 20%;
  background-color: #abc0c9;
  box-shadow: 0 10px 10px #000000;
  border-color: rgb(84, 94, 145);
}
